<h1>Editing emprunt doc</h1>

<%= render "form", emprunt_doc: @emprunt_doc %>

<br>

<div>
  <%= link_to "Show this emprunt doc", @emprunt_doc %> |
  <%= link_to "Back to emprunt docs", emprunt_docs_path %>
</div>
