<div id="<%= dom_id emprunt_materiel %>">
  <p>
    <strong>Id mat:</strong>
    <%= emprunt_materiel.id_mat %>
  </p>

  <p>
    <strong>Id adh:</strong>
    <%= emprunt_materiel.id_adh %>
  </p>

</div>
