<h1>Editing emprunt materiel</h1>

<%= render "form", emprunt_materiel: @emprunt_materiel %>

<br>

<div>
  <%= link_to "Show this emprunt materiel", @emprunt_materiel %> |
  <%= link_to "Back to emprunt materiels", emprunt_materiels_path %>
</div>
