
<div id="<%= dom_id adherent %>">
  <p>
    <strong>Nom:</strong>
    <%= adherent.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= adherent.prenom %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= adherent.adh_id %>
  </p>

</div>

