<div class="container">
<p style="color: green"><%= notice %></p>
<h1>New adherent</h1>

<%= render "form", adherent: @adherent %>

<br>

<div>
  <%= link_to "Back to adherents", adherents_path %>
</div>
</div>